.mui-content {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100%;
}

.category-left {
    float: left;
    width: 80px;
    height: 100%;
    position: relative;
}

.category-left a {
    float: left;
    color: #fff;
    width: 80px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}